@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700;800;900&family=Nunito+Sans:wght@400;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(45, 212, 191, 1);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(45, 212, 191, 0.3);
  border-radius: 4px;
}

@media only screen and (min-width:720px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
}